/* titulo nav */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* secciones de nav y textos */
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
/* z`1 */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,600&display=swap');
:root{
    /* colores letras */
    --color-blanco:#FFFFFF;

    /* colores nav */
    --negro-nav:#01161E;
    --naranja:#ec5353;
    --amarrillo:#f9b129;
}

.navbar{
    background:var(--color-blanco);
    font-family: 'Sarala', sans-serif;

}


/* footer */
.footer{
    background-color:var(--negro-nav);
}
.footer-text{
    margin: auto;   
}

/* buttoms */

.btn1{
    color: var(--negro-nav);
    background-color: var(--color-blanco);
    border:solid 1px var(--negro-nav);
}
.btn1:hover{
    color: var(--color-blanco);
    background-color: var(--negro-nav);
}

.btn-blanco{
    background-color: var(--negro-nav);
    color: var(--color-blanco);
    border: solid 1px var(--color-blanco);
}
.btn-blanco:hover{
    background-color: var(--color-blanco);
    color: var(--negro-nav);
}


























































































































































































































































































































































































































































    
