/* titulo nav */
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* secciones de nav y textos */
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
/* z`1 */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,600;1,600&display=swap');
:root{
    /* colores letras */
    --color-blanco:#FFFFFF;

    /* colores nav */
    --negro-nav:#01161E;
    --naranja:#ec5353;
    --amarrillo:#f9b129;
}

.navbar{
    background:var(--color-blanco);
    font-family: 'Sarala', sans-serif;

}
.navbar-toggler{
    border: 0;
}
.icon-nav{
    color: #01161E;
    font-size: 30px;
}

/* footer */
.footer{
    background-color:var(--negro-nav);
}
.footer-text{
    margin: auto;   
}
.btn-comprar1{
    background-color: var(--naranja);
    color: white;
}
.btn-comprar1:hover{
    color: var(--naranja);
    background-color: white;
    
}


/* buttoms */
























































































































































































































































































































































































































































    
